;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[lilactown/hx "0.2.5"] 
  [funcool/promesa "1.9.0"] 
  [binaryage/devtools "0.9.10"]]

 :builds
 {:app {:target :browser
        :output-dir "assets/js"
        :asset-path "/assets/js"
        :modules {:main {:init-fn cljs-coop.core/init}}
        :devtools
        {:http-root "./"
         :http-port 8030}}}}
